html,
body {
    font-size: 1.025rem;
    font-family: 'Oswald', sans-serif;
    background-color: lightgrey;
    height: 100vh;
    box-sizing: border-box;
    padding: .25rem;
    margin: 0 auto;
}

h1 {
    letter-spacing: .2rem;
    font-family:'Bebas Neue', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: black;
    text-shadow: 2px 2px 3px rgba(244,244,244,1)
}

h2 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: .175rem;;
}

/* MAIN NAV */

.main-nav {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.nav-name {
    margin: 1rem auto;
    text-align: center;
    font-size: 2rem;
}

.nav-directory {
    margin: 0 auto;
    text-align: center;
}

.nav-directory ul {
    letter-spacing: .175rem;;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.nav-directory li {
    padding: 0rem;
}


.main-nav ul li {
    font-size: 1.25rem;
    list-style: none;
    padding: 1rem 2rem;
}

.main-nav ul li:hover {
    text-decoration: underline;
}

.main-nav a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    text-shadow: 2px 2px 3px rgba(244,244,244,1);
}

.main-nav a:hover {
    cursor: pointer;
    color:#F77CAB;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

/* MAIN BIO */

.main {
    
    background-image:linear-gradient( lightgrey, grey 100%);
    box-shadow: inset 0 0 20px rgba(0,0, 0,1);
    border-radius: 10px;
    padding: .75rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.main img {
    box-shadow: 0 0 10px rgba(0,0, 0,.7);
    width: 10rem;
    height: 40%;
    max-height: 40%;
    margin: 0 auto;
    border-radius: 10px;
}
.main img:hover {
    box-shadow: 0 0 15px rgba(247,124,171, 1);
}

.main p {
    line-height: 1rem;
    padding-top: 1rem;
    width: 95%;
    text-align: center;
    margin: 0 auto;
}

/* PORTFOLIO */

section h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container h2 {
    text-shadow: 2px 2px 3px rgba(244, 244, 244, 1);
}

.container img {
    box-shadow: 0 10px 5px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.container img:hover {
    box-shadow: 0 10px 10px rgba(247,124,171, 1);
}

section img {
    width: 100%;
}

/* SKILLS */

.wrap {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image:linear-gradient( lightgrey, grey 100%);
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 1);
    border-radius: 10px;
    padding: 1rem 0;
    margin: 2rem auto;
}

.wrap h2 {
    text-shadow: 2px 2px 1px rgba(244,244,244,1);
}

.skills-wrapper img:hover {
    transform: scale(1.1);
}

.skills-wrapper p {
    margin-top: 0;
}

.skills-wrapper:hover {
    transition:all .2s ease-in-out;
    transform: scale(1.1);
    color:#F77CAB;
}


/* CONTACT */

.contact {
    padding: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-image:linear-gradient( lightgrey, grey 100%);
    box-shadow: inset 0 0 20px rgba(0,0, 0,1);
    border-radius: 10px;
    text-align: center;justify-content: center;
}

.contact h2 {
    margin: 0 auto;
    color: #000;
    text-shadow: 2px 2px 3px rgba(244,244,244,1);

}
.contact a {
    color: #F77CAB;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1) ;
}

.contact a:hover {
    text-shadow: 0 0 3px rgba(247,124,171, 1);
    color: white;
}

.contact a:hover,
.contact a:visited:hover {
    text-shadow: 0 0 3px rgba(247,124,171, 1);
    color: white;
}

.contact p {
    line-height: 1.5rem;
}

.contact span {
    font-size: .90rem;
}

/* FOOTER */

footer {
    max-height: 10%;
    display: flex;
    justify-content:space-between;
    margin-top: 1rem;
    margin-bottom: -16px;
}

footer h3 {
    font-size: 1.025rem;
}

footer a {
    color:#F77CAB;
    text-shadow: 0 0 2px rgba(244, 244, 244, .7);
    list-style: none;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-shadow: 0 0 3px rgba(247,124,171, 1)
}
.footer-nav {
    display: none;
    list-style-type: none; 
}

/* MEDIA QUERY */

@media (min-width:768px){

    body {
        margin: 0 auto;
    }

    .main-nav {
        padding: 2rem 0;
    }
    .nav-name {
        padding: 1rem;
        margin: 0;
    }

    .nav-directory ul {
        justify-content: space-evenly;
        flex-direction: row;
        flex: 0 0 60%;
    }

    /* MAIN BIO */

    .main {
        flex-direction: row-reverse;
    }

    .main img {
        width: 40%;
        height: auto;
        margin: 1rem;
    }

    .about-bio {
        flex-basis: 0;
        flex-grow: 3;
        line-height: 1.5rem;
    }
    .main p {
        line-height: 1.5rem;
        padding-top: 1.5rem;
        text-align: start;
    }

    /* PORTFOLIO SECTION */

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }

    .wrapper p {
        padding-bottom: 1rem;
        line-height: 1.5rem;
        padding: 1rem 0;
        width: 75%;
        margin: 0 auto;
    }

    .item1, .item2, .item3, .item4, .item5, .item6  {
        justify-content: center;
        align-items: center;
        width: 48%;
        
    }

    /* SKILLS */ 
    
    .wrap {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .full-width {
        flex-basis: 100%;
    }

    /* CONTACT */

    .contact p {
        margin: 0 15%;
    }

    /* FOOTER */

    footer {
        margin-top: 0;
        align-items: baseline;
    }

    .short-nav {
        display: none;
    }

    .footer-nav {
        padding-bottom: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-nav li {
        padding-left: 1rem;
    }


}

@media (min-width:1024px){
    
    .main-nav {
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
    }


    .nav-directory {
        margin: 0;
    }

    .nav-directory ul li {
        font-size: 1rem;
        padding: 1rem;
    }

     /* MAIN BIO */

    .main {
    flex-direction: row-reverse;
    }
    
    .main img {
        max-height: 300px;
        width: auto;
        margin: 1rem;
    }
    
    .about-bio {
        flex-basis: 0;
        flex-grow: 3;
        line-height: 2rem;
    }
    .main p {
        vertical-align: center;
        line-height: 2rem;
        padding: 1.5rem 3rem;
        text-align: center;
    }

    /* PORTFOLIO */
    
    section h2 {
        margin: .5rem 0;
        padding: 1rem;
    }

    .wrapper h2 {
        padding: 0;
    }
    .wrapper p {
        line-height: 1.5rem;
        padding: .5rem 0;
    }

    .item1, .item2, .item3, .item4, .item5, .item6  {
        justify-content: center;
        align-items: center;
        width: 31%;
        
    }


    /* CONTACT */

    .contact p {
        padding: 1rem 0;
        margin: 0 25%;
    }


}