html,
body {
    font-size: 1.025rem;
    font-family: 'Oswald', sans-serif;
    background-color: ghostwhite;
    height: 100vh;
    box-sizing: border-box;
    padding: .25rem;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    text-shadow: .5px .5px 2px rgba(0,0,0,.7)
}

/* HEADER + MAIN-NAV */

header h1 {
    min-width: 80vw;
    text-align: center;
    color: #000;
    text-shadow: .5px .5px 1px rgba(0,0,0,.9);
    font-size: 3rem;
    font-weight: bold;
}
header h1, ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    text-align: center;
}

.main-nav ul li {
    font-size: 1.25rem;
    list-style: none;
    margin-left: -40px;
    padding: 1rem 3rem;
}

.main-nav a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(0,0,0,.9);
}

/* MAIN BIO */

.main {
    
    background-color: ghostwhite;
    box-shadow: inset 0 0 10px rgba(0,0, 0,.7);
    border-radius: 5px;
    padding: 1rem 1rem;
    margin: 0 auto;
}
.main img {
    display: flex;
    width: 90%;
    margin: 0 auto;

}

/* PORTFOLIO */

section h1 {
    text-align: center;
}

.wrapper {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-bottom: 1rem;
    
}

section, p {
    padding: .7rem;
}

section img {
    width: 85vw;
}
section h2, p {
    padding-top: 1rem;
    margin: 0 auto;
    text-align: center;
}
/* CONTACT */

.contact {
    padding: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: ghostwhite;
    box-shadow: inset 0 0 10px rgba(0,0, 0,.7);
    border-radius: 5px;
    text-align: center;justify-content: center;
}

.contact h1 {
    margin: 0 auto;
    color: #000;
    text-shadow: 2px 2px 3px rgba(244,244,244,1);

}
.contact a {
    color: teal;
}

.contact p {
    line-height: 1.5rem;
}

.contact span {
    font-size: .90rem;
}

/* FOOTER */

footer {
    display: flex;
    justify-content:space-between;
    margin-top: 1rem;
    margin-bottom: -16px;
}

footer h3 {
    font-size: 1.025rem;
}

footer a {
    color: teal;
    list-style: none;
    text-decoration: none;
}
.footer-nav {
    display: none;
    list-style-type: none;
    
}

/* MEDIA QUERY */

@media (min-width:768px){
    
    header h1 {
        padding-top: 2rem;
        font-size: 3rem;
        display: flex;
    }

    .main-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-grow: 1;
    }
    .main-nav li {
        font-size: 3rem;
        padding: 1rem 4rem;
    }

    /* MAIN BIO */

    .main { 
        line-height: 1.5rem;
        height: 250px;
        display: flex;
        flex-direction: row-reverse;
        flex: 1; 
        margin: 0 auto;

    } 
    .main img {
        height: 190px;
        width: 40%;
        margin: 0;
    }

    .main p {
        width: 60%;
    }

    /* PORTFOLIO SECTION */
    section h1 {
        width: 100vw;
    }

    .wrapper {
        display: flex;
    }
    .wrapper div {
    }

    section img  {
        width: 45vw;
    }

    .item1, .item2, .item3, .item4, .item5, .item6  {
        justify-content: center;
        align-items: center;
        width: 50vw;
    }

    

    /* CONTACT */

    .contact p {
        margin: 0 15%;
    }

    /* FOOTER */

    .short-nav {
        display: none;
    }

    .footer-nav {
        display: inline;
    }
    footer ul li {
        padding-right: .5rem;
        display: inline;
    }

}

@media (min-width:1024px){

}